[Unit]
Description=Windroid Native System Bridge API Service
After=network.target local-fs.target
Before=lightdm.service display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/windroid-bridge.py
Restart=always
RestartSec=2
User=root
WorkingDirectory=/root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
